@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    /* border: none; */
    /* clip: rect(0 0 0 0); */
    /* height: 1px; */
    /* margin: -1px; */
    /* overflow: hidden; */
    /* padding: 0; */
    /* position: absolute; */
    /* width: 1px; */
  }

  table tr {
    /* border-bottom: 3px solid #ddd; */
    /* display: block; */
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: table-cell;
    font-size: 0.8em;
    text-align: center;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  /* background: #18191D; */
}

.listNft {
  flex-direction: row;
}

.text-primary {
  background: linear-gradient(90.76deg, #199b45 0%, #cdfb1c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.general-container {
  border-radius: 20px;
  padding: 48px 24px;
  height: fit-content;
  background: #2a2b31;
}

.text-gradient-primary {
  background: linear-gradient(90.76deg, #199b45 0%, #cdfb1c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-custom-card {
  background: linear-gradient(162.13deg, #2a2b31 -97.62%, #18191d 162.12%);
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
    margin-right: auto;
    margin-left: auto;
  }
}
